/* * {
    scroll-behavior: smooth;
} */

.section-padding {
    padding: 100px 0;
}

.collapse ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: orangered;
    display: block;
    margin: auto;
    transition: 0.7s;
    border-radius: 10px;
    margin-top: -5px;
}

.collapse ul li:hover::after {
    width: 75%;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #000;
}

.w-100 {
    height: 100vh;
}

.services .card-body i {
    font-size: 50px;
}

.team .card-body i {
    font-size: 20px;
}

.portfolio .card {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.30);
}

.team .card {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.30);
}

/* css responsive */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        bottom: 370px;
    }

    .carousel-caption p {
        width: 100%;
    }

    .card {
        margin-bottom: 30px;
    }

    .img-area img {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel-caption {
        bottom: 125px;
    }

    .carousel-caption h5 {
        font-size: 17px;
    }

    .carousel-caption a {
        padding: 10px 15 px;
    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }

    .about-text {
        padding-top: 50px;
    }

    .card {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 280px) {
    .carousel-inner img {
        height: 100%;
    }
}

/* gallery styling */
.blog-item_image img {
    vertical-align: middle;
    transition: 0.4s;
    width: 100%;
}

.blog-item_image img:hover {
    transform: scale(1.1);
    vertical-align: middle;
}

.blog-item_image {
    overflow: hidden;
    vertical-align: middle;
    width: 25%;
    height: 20%;
    text-align: center;
    margin-top: 10rem;
    margin-left: 10rem;
    box-shadow: 0px 0px 30px 4px rgb(182, 182, 182);

}

.blog-item_image1 img {
    vertical-align: middle;
    transition: 0.4s;
    width: 100%;
}

.blog-item_image1 img:hover {
    transform: scale(1.1);
    vertical-align: middle;
}

.blog-item_image1 {
    overflow: hidden;
    vertical-align: middle;
    width: 25%;
    height: 20%;
    text-align: center;
    margin-top: -15.1rem;
    box-shadow: 0px 0px 30px 4px rgb(182, 182, 182);
    margin-left: 35rem;

}

.blog-item_image2 img {
    vertical-align: middle;
    transition: 0.4s;
    width: 100%;
}

.blog-item_image2 img:hover {
    transform: scale(1.1);
    vertical-align: middle;
}

.blog-item_image2 {
    overflow: hidden;
    vertical-align: middle;
    width: 25%;
    height: 20%;
    text-align: center;
    margin-top: -15rem;
    margin-left: 60rem;
    box-shadow: 0px 0px 30px 4px rgb(182, 182, 182);

}

.blog-item_image3 img {
    vertical-align: middle;
    transition: 0.4s;
    width: 100%;
}

.blog-item_image3 img:hover {
    transform: scale(1.1);
    vertical-align: middle;
}

.blog-item_image3 {
    overflow: hidden;
    vertical-align: middle;
    width: 25%;
    height: 20%;
    text-align: center;
    margin-top: 3rem;
    margin-left: 10rem;
    box-shadow: 0px 0px 30px 4px rgb(182, 182, 182);

}

.blog-item_image4 img {
    vertical-align: middle;
    transition: 0.4s;
    width: 100%;
}

.blog-item_image4 img:hover {
    transform: scale(1.1);
    vertical-align: middle;
}

.blog-item_image4 {
    overflow: hidden;
    vertical-align: middle;
    width: 25%;
    height: 20%;
    text-align: center;
    margin-top: -15rem;
    margin-left: 35rem;
    box-shadow: 0px 0px 30px 4px rgb(182, 182, 182);

}

.blog-item_image5 img {
    vertical-align: middle;
    transition: 0.4s;
    width: 100%;
}

.blog-item_image5 img:hover {
    transform: scale(1.1);
    vertical-align: middle;
}

.blog-item_image5 {
    overflow: hidden;
    vertical-align: middle;
    width: 25%;
    height: 20%;
    text-align: center;
    margin-top: -15rem;
    margin-left: 60rem;
    box-shadow: 0px 0px 30px 4px rgb(182, 182, 182);

}

.blog-item_image6 img {
    vertical-align: middle;
    transition: 0.4s;
    width: 100%;
}

.blog-item_image6 img:hover {
    transform: scale(1.1);
    vertical-align: middle;
}

.blog-item_image6 {
    overflow: hidden;
    vertical-align: middle;
    width: 25%;
    height: 20%;
    text-align: center;
    margin-top: 3rem;
    margin-left: 10rem;
    box-shadow: 0px 0px 30px 4px rgb(182, 182, 182);

}

.blog-item_image7 img {
    vertical-align: middle;
    transition: 0.4s;
    width: 100%;
}

.blog-item_image7 img:hover {
    transform: scale(1.1);
    vertical-align: middle;
}

.blog-item_image7 {
    overflow: hidden;
    vertical-align: middle;
    width: 25%;
    height: 20%;
    text-align: center;
    margin-top: -15rem;
    margin-left: 35rem;
    box-shadow: 0px 0px 30px 4px rgb(182, 182, 182);

}

.blog-item_image8 img {
    vertical-align: middle;
    transition: 0.4s;
    width: 100%;
}

.blog-item_image8 img:hover {
    transform: scale(1.1);
    vertical-align: middle;
}

.blog-item_image8 {
    overflow: hidden;
    vertical-align: middle;
    width: 25%;
    height: 20%;
    text-align: center;
    margin-top: -15rem;
    margin-left: 60rem;
    box-shadow: 0px 0px 30px 4px rgb(182, 182, 182);
}